@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}

body {
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2em;
  letter-spacing: 0.01em;
  background-color: #ffffff;
  color: #000000;
}

.site-header {
  width: 1160px;
  min-height: 185px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: rgba(240, 197, 46, 0.5);
}

.index-header {
  padding-bottom: 115px;
}

/*.site-header {
  outline: 1px solid chartreuse;
}

.site-header * {
  outline: 1px solid orchid;
}*/

.logo {
  position: relative;
  top: -15px;
  display: inline-block;
  margin-left: 60px;
  margin-bottom: 15px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.logo:hover {
  color: rgba(0, 0, 0, 0.6);
}

.logo:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 27px;
}

.header-panel-form {
  display: flex;
}

.links-wrapper {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.search-label {
  position: absolute;
  top: 3px;
  width: 16px;
  height: 16px;
  text-align: center;
}

.search-field {
  width: 355px;
  padding-left: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 4px;
  background-color: #f7e296;
  background-image: url("../img/svg/search.svg");
  background-repeat: no-repeat;
  background-position-y: 9px;
  background-position-x: left;
  border: none;
  font-weight: 300;
  outline: none;
}

.search-btn {
  display: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f7e296;
  border: 2px solid #000000;
}

.search-field:focus {
  padding-bottom: 8px;
  border-bottom: 2px solid #000000;
}

.search-field:focus + .search-btn {
   display: block;
 }

.search-btn:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.search-field:focus,
.search-btn:active {
  display: block;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.search-field:focus {
  color: #000000;
}

.search-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-link {
  position: relative;
  text-decoration: none;
  color: #000000;
}

.site-link:hover {
  opacity: 0.6;
}

.site-link:active {
  opacity: 0.3;
}

.site-link svg {
  position: absolute;
  left: 0;
  top: 9px;
}

.login {
  padding-left: 27px;
  margin-right: auto;
}

.compare {
  padding-left: 19px;
}

.compare svg {
  top: 11px;
}

.cart {
  padding-left: 24px;
  margin-left: 40px;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-left: 60px;
  margin-right: 56px;
}

.menu-item,
.catalog-item {
  list-style: none;
}


.sub-menu {
  position: relative;
  margin-right: auto;
  padding-right: 32px;
}

.sub-menu::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 235px;
  width: 16px;
  height: 16px;
  background-image: url("../img/svg/plus.svg");
  opacity: 0.3;
}

.menu-warranty {
  margin-left: 33px;
}

.menu-contacts {
  margin-left: 110px;
}

.menu-link {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2em;
  line-height: 1.3em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.menu-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.menu-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.sub-menu:hover .catalog-submenu {
  display: flex;
}

.catalog-submenu {
  position: absolute;
  left: -60px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 580px;
  height: 130px;
  padding-left: 60px;
  padding-right: 520px;
  padding-top: 35px;
  background-color: #f7e296;
  z-index: 1;
}

.catalog-item:first-child,
.catalog-item:nth-child(4) {
  width: 220px;
}

.catalog-item:nth-child(6) {
  width: 90%;
}

.catalog-item:nth-child(2),
.catalog-item:nth-child(3),
.catalog-item:nth-child(5) {
  width: 180px;
}

.catalog-item {
  padding: 0;
  line-height: 2.4em;
}

.slider-wrapper {
  position: relative;
  width: 1160px;
  height: 500px;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

/*.slider-wrapper {
  outline: 1px solid maroon;
}

.slider-wrapper * {
  outline: 1px solid darkorchid;
}*/

.slider-wrapper input[type="radio"] {
  display: none;
}

.slider-element {
  display: flex;
  position: relative;
}

.img-wrapper {
  width: 560px;
  margin-top: -12px;
}

.img-wrapper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 500px;
  min-height: 470px;
  margin-left: 40px;
}

.slider-title {
  position: relative;
  width: 480px;
  height: 100px;
  padding-top: 50px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 14px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 47px;
  font-weight: 700;
  line-height: 1.19em;
  z-index: 0;
}

.slider-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 8px;
  background-color: #ffffff;
}

.slider-title::after {
  position: absolute;
  font-size: 179.2px;
  line-height: 1em;
  color: #ffffff;
}

.slide-selfie .slider-title::after {
  content: "01";
  top: -47px;
  right: -32px;
}

.slide-whatch .slider-title::after {
  content: "02";
  top: -45px;
  right: -31px;
}

.slide-quadrocopt .slider-title {
  width: 500px;
}

.slide-quadrocopt .slider-title::after {
  content: "03";
  top: -44px;
  right: -12px;
  z-index: -1;
}

.slider-el-description {
  width: 500px;
  height: 50px;
  margin-bottom: 54px;
}

.btn,
.link-btn {
  position: relative;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  border: none;
}

.link-btn {
  padding: 8px 44px;
  line-height: 1.3em;
  text-decoration: none;
}

.btn {
  background-color: transparent;
  z-index: 0;
}

.btn:hover,
.link-btn:hover {
  background-color: #f0c52e;
}

.link-btn:hover {
  padding: 8px 44px;
}

.link-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.link-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
  height: 8px;
  background-color: #f0c52e;
  width: 100%;
  z-index: -1;
}

.link-more {
  display: block;
  margin-bottom: 48px;
}

.slider-char-table {
  text-align: left;
}

.slider-char-table td {
  width: 160px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.3em;
}

.slider-char-table th {
  width: 160px;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5em;
  color: #464646;
}

.slider-switch {
  position: absolute;
  right: 78px;
  bottom: 167px;
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0px;
}

.slider-btn {
  width: 25px;
  height: 25px;
  background-image: url("../img/svg/slider-button-empty.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-btn:active {
  background-image: url("../img/svg/slider-button.svg");
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  min-height: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.link-popular {
  position: relative;
  width: 160px;
  padding-top: 195px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3em;
  text-decoration: none;
  color: #000000;
}

.link-popular::before {
  position: absolute;
  content: "";
  top: 0;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.link-popular::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
}

.link-popular:active {
  color: rgba(0, 0, 0, 0.3);
}

.link-popular:hover::before {
  background-color: #f0c52e;
}

.link-popular:active::after {
  opacity: 0.3;
}

.popular-vr::after {
  background-image: url("../img/svg/popular-1.svg");
}

.popular-selfie::after {
  top: 20px;
  background-image: url("../img/svg/popular-2.svg");
}

.popular-action::after {
  background-image: url("../img/svg/popular-3.svg");
}

.popular-fitness::after {
  background-image: url("../img/svg/popular-4.svg");
}

.popular-smartw::after {
  background-image: url("../img/svg/popular-5.svg");
}

.popular-quadrocopt::after {
  background-image: url("../img/svg/popular-6.svg");
}

.service {
  min-height: 390px;
  margin-bottom: 100px;
  background: linear-gradient(#ffffff 0px, #ffffff 102px, #e5e5e5 102px, #e5e5e5 390px);
}

/*.service {
  outline: 1px solid green;
}

.service * {
  outline: 1px solid royalblue;
}*/

.service dl {
  position: relative;
  width: 1160px;
  min-height: 320px;
  margin-left: auto;
  margin-right: auto;
}

.service-desc {
  width: 500px;
  height: 155px;
  display: none;
  padding-left: 120px;
  padding-right: 210px;
  padding-top: 80px;
  padding-bottom: 85px;
  margin-left: 280px;
  border-left: 8px solid #000000;
  background-repeat: no-repeat;
  background-position: right;
}

.service-name {
  position: absolute;
  display: inline-block;
  width: 160px;
  text-align: center;
  background-image: url("../img/svg/yellow-rect.svg");
  background-position: center;
}

.service-name:hover {
  background-color: #f0c52e;
}

.service-tab {
  padding-top: 8px;
  padding-bottom: 8px;
}

.service-tab:hover {
  cursor: pointer;
}


.service input[type="radio"] {
  display: none;
}

.service-name:first-of-type {
  top: 80px;
}

.service-name:nth-of-type(2) {
  top: 145px;
}

.service-name:last-of-type {
  top: 210px;
}

.service-tab {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

input[type="radio"]#tab_delivery:checked ~ dl .label-delivery,
input[type="radio"]#tab_warranty:checked ~ dl .label-warranty,
input[type="radio"]#tab_credit:checked ~ dl .label-credit {
  background-color: #000000;
  color: #f7e184;
  cursor: default;
}

input[type="radio"]#tab_delivery:checked ~ dl .label-delivery {
  padding-left: 25px;
  padding-right: 135px;
}

input[type="radio"]#tab_warranty:checked ~ dl .label-warranty {
  padding-left: 28px;
  padding-right: 140px;
}

input[type="radio"]#tab_credit:checked ~ dl .label-credit {
  padding-left: 40px;
  padding-right: 154px;
}

#tab_delivery:checked ~ dl .delivery,
#tab_warranty:checked ~ dl .warranty,
#tab_credit:checked ~ dl .credit {
  display: block;
}

.delivery {
  background-image: url("../img/svg/delivery.svg");
}

.warranty {
  background-image: url("../img/svg/warranty.svg");
}

.credit {
  background-image: url("../img/svg/credit.svg");
}

.service-desc h3 {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 47px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 40px;
}

.service-desc p {
  color: #464646;
}

.brands {
  display: flex;
  justify-content: space-around;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 76px;
}

.brand-link img {
  opacity: 0.2;
  filter: grayscale(1);
}

.brand-link img:hover {
  opacity: 1;
  filter: none;
}

.info-wrapper {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.about-us,
.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-us {
  width: 480px;
  height: 570px;
}

.contacts {
  width: 560px;
  height: 570px;
}

.about-us h2,
.contacts h2{
  position: relative;
  padding-top: 55px;
  margin: 0;
  margin-bottom: 42px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 47px;
  font-weight: 700;
  line-height: 1em;
}

.about-us h2::before,
.contacts h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 8px;
  background-color: #000000;
}

.about-us p,
.contacts p{
  letter-spacing: 0;
  margin: 0;
  color: #464646;
}

.about-us .link-btn,
.contacts .link-btn {
  margin-top: auto;
}

.transport-list {
  padding: 0;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 2.5em;
  letter-spacing: 0;
  list-style: none;
}

.transport-list li {
  position: relative;
  padding-left: 35px;
}

.transport-list li::before {
  content: "\00b0";
  position: absolute;
  left: 0;
  top: 4px;
  font-size: 1.4em;
  color: #e6e6e6;
}

.site-footer {
  background-color: #464646;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  padding-top: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
}

.site-footer .logo {
  margin: 0;
  margin-right: auto;
  color: #ffc600;
}

.site-footer .logo:hover {
  color: rgba(255, 198, 0, 0.6);
}

.site-footer .logo:active {
  color: rgba(255, 198, 0, 0.3);
}

.footer-top .links-wrapper {
  width: 330px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.7);
}

.footer-link:hover {
  color: #ffffff;
  opacity: 1;
}

.footer-link:active {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.footer-link svg {
  fill: #ffc600;
}

.footer-link:hover svg {
  fill: rgba(255, 198, 0, 0.6);;
}

.footer-link:active svg {
  fill: rgba(255, 198, 0, 0.3);;
}

.footer-mid {
  display: flex;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
}

.footer-mid p {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
}

.footer-mid p:first-of-type {
  margin-right: auto;
}

.footer-mid p:last-of-type {
  margin-left: auto;
}

.footer-menu {
  width: 425px;
  justify-self: center;
  display: flex;
  justify-content: space-between;
}

.site-footer .menu-link {
  color: #ffffff;
}

.site-footer .menu-link:last-of-type {
  margin-right: 0;
}

.site-footer .menu-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.site-footer .menu-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-bottom {
  position: relative;
  display: flex;
  width: 1160px;
  height: 43px;
  padding-bottom: 65px;
  margin-left: auto;
  margin-right: auto;
}

.footer-bottom::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 80px;
  height: 8px;
  background-color: #ffc600;
}

.social {
  margin: auto;
  padding-left: 60px;
  display: flex;
  width: 143px;
  height: 43px;
  justify-content: space-between;
}

.social-icon {
  width: 32px;
  height: 32px;
}

.social-icon svg {
  fill: #7e7e7e;
}

.social-icon:hover svg {
  fill: #b5b5b5;
}

.social-icon:active svg {
  fill: #595959;
}

.copyright {
  justify-self: flex-end;
}

.copyright svg {
  fill: #FFC600;
}

.copyright:hover svg {
  fill: #b5931c;
}

.copyright:active svg {
  fill: #7e6d31;
}

.modal {
  position: fixed;
  display: none;
  background-color: #e5e5e5;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;-
  height: 55px;
  background-color: rgba(255, 198, 0, 0.5);
  border-radius: 50%;
  border-style: none;
  font-size: 0;
  cursor: pointer;
  z-index: 2;
}

.close-btn:hover {
  background-color: rgba(255, 198, 0, 1);
}

.close-btn:active {
  background-color: rgba(255, 198, 0, 0.3);
}

.close-btn::before,
.close-btn::after {
  position: absolute;
  top: 28px;
  right: 12px;
  content: "";
  width: 30px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
}

.close-btn::before {
  transform: rotate(45deg);
}

.close-btn::after {
  transform: rotate(-45deg);
}

.modal-write-us {

  position: fixed;
  top: 50%;
  left: 50%;

  margin-top: -280px;
  margin-left: -390px;
  background-color: #ffffff;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;

  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.write-us-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 95px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 80px;
}

.inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  margin-bottom: 37px;
}

.inputs-wrapper label {
  display: inline-flex;
  width: 360px;
}

.name-input,
.email-input {
  width: 340px;
  padding-bottom: 17px;
}

.modal-write-us label {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.333em;
}

.name-input,
.email-input,
.message-input {
  padding-left: 20px;
  padding-top: 17px;
  margin-top: 10px;
  border: none;
  background-color: #f2f2f2;
}

.message-input {
  width: 740px;
  height: 155px;
  margin-bottom: 40px;
}

.name-input::placeholder,
.email-input::placeholder,
.message-input::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.submit-btn {
  position: relative;
  padding: 8px 35px;
}

.submit-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
  height: 8px;
  background-color: #f0c52e;
  width: 100%;
  z-index: -1;
}

.modal-map {
  top: 50%;
  left: 50%;

  width: 960px;
  height: 560px;
  margin-top: -280px;
  margin-left: -390px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/*---Styles for Catalog page---*/

.user-name {
  position: relative;
  margin: 0;
  margin-right: 20px;
  padding-left: 25px;
}

.user-name svg {
  position: absolute;
  left: 0;
  top: 9px;
}

.logout {
  margin-right: auto;
  color: rgba(0, 0, 0, 0.3);
}

/*.inner-content * {
  outline: 1px solid darkblue;
}*/

.page-title {
  width: 1100px;
  margin: 40px auto 30px;
  padding-left: 60px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 47px;
  font-weight: 700;
  line-height: 1em;
}

.bread-crumbs {
  display: flex;
  width: 1100px;
  padding-left: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.crumb {
  padding-right: 20px;
  margin-right: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  background-image: url("../img/svg/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 13px;
}

.crumb:hover {
  color: rgba(0, 0, 0, 0.6);
}

.crumb:active {
  color: rgba(0, 0, 0, 0.1);
}

.crumb:last-child {
  background-image: none;
}

.grid-wrapper {
  display: flex;
}

.filter {
  width: calc(50% - 250px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  background-color: #efefef;
}

.filter fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  border: none;
}

.section-title {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter-title {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0;
  margin-bottom: 70px;
  background-color: #dcdcdc;
  text-align: right;
}

.filter-title span {
  padding-right: 180px;
}

.filter-form {
  width: 202px;
  margin-left: auto;
  margin-right: 70px;
}

.filter-form label {
  font-size: 14px;
  line-height: 2.857em;
}

.filter-form input {
  display: none;
}

.param-title {
  padding-top: 12px;
  width: 201px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.333em;
  border-top: 2px solid #000000;
}

.param-cost {
  margin-bottom: 40px;
}

.cost-range {
  width: 200px;
  height: 2px;
  margin-bottom: 70px;
  background-color: #dbdbdb;
}

.current-range {
  position: relative;
  width: 120px;
  height: 2px;
  background-color: #91c92f;
}

.min-range-val,
.max-range-val {
  position: absolute;
  top: -8px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/svg/filter-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  cursor: pointer;
}

.min-range-val:active,
.max-range-val:active {
  top: -10px;
  width: 25px;
  height: 25px;
  background-size: cover;
}

.min-range-val {
  left: -5px;
}

.max-range-val {
  right: 0;
}

.label-range {
  position: absolute;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.714em;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.2);
}

.label-min {
  left: 0px;
}

.label-max {
  right: -15px;
}

.field-color {
  margin-bottom: 35px;
}

.param-color,
.param-bt {
  margin-bottom: 20px;
}

.checkbox-label {
  padding-left: 40px;
  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.filter-form input[type="checkbox"]:checked + .checkbox-label {
  background-image: url("../img/svg/checkbox-on.svg");
}

.field-bt {
  margin-bottom: 40px;
}

.radio-label {
  padding-left: 40px;
  background-image: url("../img/svg/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.filter-form input[type="radio"]:checked + .radio-label {
  background-image: url("../img/svg/radio-on.svg");
}

.filter-btn {
  cursor: pointer;
  padding: 10px 40px;
}

.filter-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
  height: 8px;
  background-color: #f0c52e;
  width: 100%;
  z-index: -1;
}

.goods-area {
  width: calc(50% + 250px);
  margin-right: auto;
}

.sort-goods {
  display: flex;
  align-items: flex-start;
  padding-top: 25px;
  padding-bottom: 22px;
  margin-bottom: 70px;
  background-color: #efefef;;
}

.sort-wrapper {
  display: flex;
  align-items: center;
  width: 830px;
}

.sort-title {
  padding-left: 74px;
  padding-right: 52px;
  margin: 0;
}

.sort-attribute {
  padding-top: 2px;
  margin-right: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.285em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.sort-attribute:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-attribute:active,
.active-sort {
  color: #000000;
}

.active-sort:hover {
  cursor: default;
}

.switch-wrapper {
  display: flex;
  justify-content: space-between;
  width: 42px;
  margin-left: auto;
}

.sort-switch-btn {
  width: 11px;
  height: 10px;
  background-image: url("../img/svg/icon-up-dir.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.sort-switch-btn:hover {
  opacity: 0.4;
}

.sort-switch-btn:active {
  opacity: 1;
}

.down-switch {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.active-switch {
  opacity: 1;
}

.goods {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 75px;
  width: 760px;
}

.good-item {
  position: relative;
  margin-bottom: 45px;
}

.good-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 360px;
  height: 380px;
  background-color: rgba(238, 238, 238, 0.7);
}

.good-item:hover::after {
  display: block;
}

.new-item::before {
  content: "new";
  position: absolute;
  right: 30px;
  top: 30px;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  line-height: 60px;
  color: rgba(0, 0, 0, 0.2);
}

.item-link {
  display: block;
  width: 360px;
  height: 380px;
  margin-bottom: 35px;
}

.item-info {
  display: inline-flex;
  justify-content: space-between;
  width: 360px;
}

.good-name {
  width: 260px;
  margin: 0;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.333em;
  letter-spacing: 0.01em;
}

.good-hover-actions {
  position: absolute;
  top: 170px;
  left: 72px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.good-item:hover .good-hover-actions {
  display: flex;
}

.price {
  margin: 0;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #464646;
}

.link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.link:hover {
  color: #000000;
}

.link:active {
  color: rgba(0, 0, 0, 0.2);
}

.goods-page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  margin-bottom: 77px;
  font-family: "Gilroy", Tahoma, sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.2em;
  background-color: #efefef;
}

.back {
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
}

.forward {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
}

.nav-link,
.page-numbers {
  padding-top: 23px;
  padding-bottom: 23px;
}

.page-numbers {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.nav-link:hover {
  background-color: #d9d9d9;
}

.nav-link:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
}

.page-number {
  padding: 5px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.page-number:hover {
  color: rgba(0, 0, 0, 0.6);
}

.page-number:active {
  color: #000000;
}

.page-number:nth-child(3) {
  margin-left: 20px;
  margin-right: 20px;
}

.active-page {
  color: #000000;
}

.catalog-footer .links-wrapper {
  width: 480px;
}

.site-footer .logout {
  color: rgba(255, 255, 255, 0.3);
}

/*---Global modifiers---*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
